尊敬的用户：

#if ( $action == "1" )
    您的一封来自 $from 的邮件中发现病毒。我们已经按照您的要求采取了措施。
#else
    您的一封来自 $from 的邮件中发现病毒。我们已经按照您的要求采取了措施。
附件中是该邮件的原文，请小心查收。
#end


-----------------------------------------------------------------------
这是该封邮件的原始信息：
-----------------------------------------------------------------------
主  题：$subject
发件人：$from
收件人：$to


-----------------------------------------------------------------------
下面是该邮件的病毒信息：
-----------------------------------------------------------------------
#if ( $action == "1" )
#set ( $result1 = "已经被清除" )
#set ( $result2 = "已经被删除")
#set ( $result3 = "杀毒失败" )
#else
#set ( $result1 = "可以被清除" )
#set ( $result2 = "不可以被清除" )
#set ( $result3 = "只能被删除" )
#end
#foreach ( $info in $infos )
附件名称：$info.getFileName()
病毒名称：$info.getVirusName()
处理结果：#if ( $info.getResult() == 1 )
$result1
#elseif ( $info.getResult() == 2 )
$result2
#else
$result3
#end
#end
-----------------------------------------------------------------------