from:$from
To:$to
Subject:=?GBK?B?zsS8/rmyz+3M4dDR?=
Content-Type:text/html;charset=GBK


Please enter this address as soon as  possibile <a href="$url" target="_blank"> to extract the shared files to you.