尊敬的用戶：

#if ( $action == "1" )
    您的一封來自 $from 的郵件中發現病毒。我們已經按照您的要求採取了措施。
#else
    您的一封來自 $from 的郵件中發現病毒。我們已經按照您的要求採取了措施。
附件中是該郵件的原文，請小心查收。
#end


-----------------------------------------------------------------------
這是該封郵件的原始信息：
-----------------------------------------------------------------------
主  題：$subject
發件人：$from
收件人：$to


-----------------------------------------------------------------------
下面是該郵件的病毒信息：
-----------------------------------------------------------------------
#if ( $action == "1" )
#set ( $result1 = "已經被清除" )
#set ( $result2 = "已經被刪除")
#set ( $result3 = "殺毒失敗" )
#else
#set ( $result1 = "可以被清除" )
#set ( $result2 = "不可以被清除" )
#set ( $result3 = "隻能被刪除" )
#end
#foreach ( $info in $infos )
附件名稱：$info.getFileName()
病毒名稱：$info.getVirusName()
處理結果：#if ( $info.getResult() == 1 )
$result1
#elseif ( $info.getResult() == 2 )
$result2
#else
$result3
#end
#end
-----------------------------------------------------------------------